
/* src/components/ReferenceSection/ReferenceSection.css */
.text-subtitle {
  float: left;
  width: 100%;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #393939;
  padding-bottom: 10px;
  text-align: left;
}