
/* src/components/Menu/Menu.css */
.menu-wrap {
  position: fixed;
  z-index: 19;
  width: 370px;
  top: 0;
  bottom: 0;
  font-size: 1.15em;
  padding-left: 10px;
  transform: translate3d(-320px, 0, 0);
  transition: transform 0.4s;
}

.menu-inner {
  opacity: 0;
  transform: translate3d(-160px, 0, 0);
  transition: opacity 0s 0.3s, transform 0s 0.3s;
  transition-timing-function: cubic-bezier(.17, .67, .1, 1.27);
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}

.menu-inner:before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 35px;
  right: 15px;
  height: 1px;
  background: #70C178;
}

.menu-logo {
  position: absolute;
  top: 45px;
  left: 35px;
  width: 100%;
  text-decoration: none;
}

.menu-logo .logo-sub-text {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 900;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-logo .logo-text {
  color: #f1f1f1;
  font-size: 38px;
  font-weight: 900;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hid-men-wrap {
  width: 100%;
  left: 0;
  position: absolute;
  top: 55%;
  overflow: hidden;
}

.menu ul {
  margin: 0;
  float: left;
  width: 100%;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.menu li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.11);
}

.menu a {
  float: left;
  width: 100%;
  padding: 12px 35px;
  position: relative;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f1f1f1;
  line-height: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: #70C178;
}

.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  fill: rgba(0, 0, 0, 0.71);
}

@media only screen and (max-width: 1064px) {
  .menu-wrap {
    width: 320px;
    bottom: 0;
    top: 70px;
    padding: 0;
    transform: translate3d(-320px, 0, 0);
  }
}