/* src/components/SkillsSection/SkillsSection.css */
.skills-wrap {
  float: left;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.skills-wrap > div {
  padding: 30px;
  margin: auto;
  text-align: center;
  transition: transform 0.3s ease;
}

.skills-wrap > div:hover {
  transform: scale(1.1);
}

.skills-wrap svg {
  font-size: 72px;
  color: #393939;
  margin-bottom: 10px;
}

.skills-wrap h5 {
  font-size: 14px;
  font-weight: 600;
  color: #393939;
  margin: 10px 0 0 0;
}

/* AWS and Alexa Section */
.custom-inner {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.custom-inner:last-child {
  margin-bottom: 0;
}

.box-header {
  float: left;
  width: 100%;
  position: relative;
  padding: 36px 20px 30px 70px;
  background: #ddd;
  border-radius: 8px;
}

.box-header.alexa-skill:after {
  content: "\f130";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #393939;
  bottom: 10px;
  font-size: 70px;
  right: 10px;
  opacity: 0.08;
  transform: rotate(45deg);
}

.box-header h3 {
  float: left;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}